@media screen and (max-width: 653px) {
    #mydesignform {
        width: 80%;
        padding: 2rem;
    }
}

#mynav a {
    text-decoration: none;
    transition: all 0.3s;
    background-color: rgb(13,110,253);
    border-radius: 0.2rem;
    color: white !important;
    margin: 0rem 0.2rem;
}

#mynav a:hover {
    background-color: rgb(0, 81, 201);
    color: white;
}

#mydesignform {
    font-size: larger;
}

#myform {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* gap: 1rem; */
    /* justify-content: space-evenly; */
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: lightblue;
    margin-block: 1.8rem;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(24, 128, 208);
    border-radius: 2rem;
}