@media screen and (max-width: 653px) {
    #mydesignform {
        width: 80%;
        padding: 2rem;
    }
}

:root {
    --yellow: rgb(228, 197, 20);
    --sidebarColor: #FCF8E8;
}

body {
    overflow-x: hidden;
    background-color: var(--sidebarColor);
}

#mynav a {
    text-decoration: none;
    transition: all 0.3s;
    background-color: var(--yellow);
    border-radius: 0.2rem;
    color: black !important;
    margin: 0rem 0.2rem;
}

#mynav a:hover {
    background-color: rgb(197, 169, 8);
    color: white !important;
}

#mydesignform {
    font-size: larger;
}

#myform {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* gap: 1rem; */
    /* justify-content: space-evenly; */
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background: rgba(6, 3, 3, 0.517);
    margin-block: 1.8rem;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(6, 3, 3, 0.887);
    border-radius: 2rem;
}

.hambargar {
    display: none;
}

.slideshow {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: #FFC54D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6rem;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    z-index: 3;
    transition: left .3s;
}

.slideshow i {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    color:rgba(45, 45, 45, 0.914);
} 

.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, .55);
    transition: all .2s;
}

.visibility {
    visibility: visible;
}

.showingslideshow {
    left: 50%;
}

.slideshow a {
    text-decoration: none;
    color: white !important;
}

#close::before {
    background-color: aliceblue;
    width: 100%;
    height: .3rem;
    padding: .4rem;
    border-radius: 5rem;
}

@media screen and (max-width: 840px) {

    #mynav a {
        display: none;
    }

    .hambargar {
        display: block;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .hambargar li {
        position: relative;
        top: .6rem;
        width: 2.5rem;
        list-style: none;
        border: 2px solid black;
    }
}

#mostCommented {
    text-decoration: none;
}

#mostCommented:hover {
    text-decoration: underline;
}